
.jumbotron {
    margin-top: 50px;
    padding: 30px;
    background-color: #b39b4d45;
    border-radius: 5px;
}

.btn-one, .btn-one:active{
    background-color: #1e2f23;
    border-color: #1e2f23;
    color: white;
}
.btn, .btn:active{
    background-color: #1e2f23;
    border-color: #1e2f23;
}
.btn-one:hover {
    background-color: #607744;
    border-color: #1e2f23;
    color: #FFFFFF;

}
.btn-outline-two{
    background-color: #607744;
    border-color: #607744;
    color: #FFFFFF;
}
.btn-outline-two:hover{
    background-color: #768948;
    border-color: #607744;
    color: #FFFFFF;
}
.form-signin {
    width: 100%;
    max-width: 630px;
    padding: 15px;
    margin: auto;
}


.table{
    background-color: #b39b4d45;
}
.btn-two{
    background-color: #607744;
    border-color: #607744;
    color: #FFFFFF;
}
.btn-two:hover{
    background-color: #768948;
    border-color: #768948;
}
table td{
    background-color: transparent;
}
table th{
    background-color: transparent;
}
tr:nth-child(even) {
    background-color: #b39b4d37;
}

.nav-link:hover{
    cursor: pointer;
    background-color: #607744;
}
h1{
    font-weight: 500;
}

.dropdown-menu{
    background-color: #1e2f23;
}
.dropdown-item{
    color: #FFFFFF;
}
.dropdown-item:active{
    color: #FFFFFF;
    background-color: #607744;
}
.tableth{
    background-color: #1e2f23;
}

.tablethcol {
    color: #FFFFFF;
}
.table{
    border-color: #1e2f23;
}